@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    font-family: "Kosugi Maru", sans-serif;
    color: #191919;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}
a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
body {
    font-family: "小杉丸", sans-serif;
    min-width: 1280px;
    background-color: #fbfbfb;
    overflow-x: hidden;
}
#header {
    background-color: #e2b725;
    position: relative;
}
.sns_fixed {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 298px;
    left: 21px;
    z-index: 1;
}
.sns_fixed p {
    color: #550700;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-family: "Jost", sans-serif;
    font-size: 12px;
    padding-bottom: 14px;
}
.line-vertical {
    border: 1px solid #550700;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    height: 85px;
}
.icon {
    width: 21px;
    padding-top: 14px;
}
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 14px 21% 0 13%;
    box-sizing: border-box;
}
.logo {
    width: 135px;
}
.pc_nav ul {
    display: flex;
}
.pc_nav {
    text-align: center;
    border-radius: 30px;
    width: 500px;
    height: 60px;
    background-color: #ffffff;
    font-family: ”tbudrgothic-std”, sans-serif;
    display: inline-block;
}
.pc_nav ul li {
    color: #550700;
    font-size: 13px;
    padding: 24px;
    padding-right: 60px;
    text-align: center;
}

.header_contact {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
.header_contact .letter {
    margin: 19px 0;
}
.top_title_image {
    width: 63px;
    margin: 0 auto;
    padding-top: 126px;
}
.top_text {
    font-size: 52px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.03em;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: bold;
    margin-top: -24px;
}
.top_text span {
    font-size: 45px;
    display: inline-block;
    transform: rotate(-330deg);
    padding-right: 10px;
    padding-left: 10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}
.children {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.kai_top {
    width: 328px;
}
.sui_top {
    width: 337px;
}
.nagi_top {
    width: 359px;
}
.top_back {
    background-size: cover;
}
.heart1 {
    position: absolute;
    top: 52px;
}
.heart2 {
    position: absolute;
    top: 60px;
    right: 0;
}
.heart3 {
    position: absolute;
    top: 273px;
    left: 179px;
}
.heart4 {
    position: absolute;
    top: 253px;
    right: 114px;
}
.heart5 {
    position: absolute;
    top: 548px;
    left: 51px;
    z-index: 1;
}
.heart6 {
    position: absolute;
    top: 534px;
    right: 13px;
    z-index: 1;
}
#about {
    background-color: #fbfbfb;
    position: relative;
}
.about_contents {
    display: flex;
    justify-content: flex-end;
    max-width: 1000px;
    margin: 0 auto;
}
.about_title {
    display: flex;
    flex-direction: row-reverse;
    font-size: 32px;
    line-height: 1.75;
    letter-spacing: 0.12em;
    font-weight: lighter;
    padding-right: 79px;
}
.about_title1 {
    padding-top: 100px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
.about_title2 {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    padding-top: 167px;
}
.title_red1 {
    font-size: 65px;
    display: inline-block;
    transform: rotate(-330deg);
    color: #b20700;
    padding-bottom: 14px;
}

.question {
    transform: rotate(-330deg);
    display: inline-block;
}
.about_walk {
    padding-top: 71px;
}
.about_walk .kai_walk {
    width: 103px;
    display: inline-block;
    padding-right: 166px;
}
.about_walk .nagi_walk {
    width: 99px;
    display: inline-block;
    padding-right: 40px;
}
.about_box {
    text-align: center;
}
.about_text {
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}
.about_omoi {
    font-size: 18px;
    letter-spacing: 0.05em;
    margin-top: -147px;
}
.about_omoi span {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #b20700;
}
.about_omoi2 {
    padding-top: 33px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.05em;
    display: inline-block;
    text-align: left;
}
.about_shousai {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.about_shousai .about_botton_me {
    width: 140px;
    padding-top: 86px;
}
.about_shousai p {
    font-size: 14px;
}
.about_ashirai2 {
    position: absolute;
    top: 370px;
    right: 0;
}
.about_ashirai1 {
    position: absolute;
    top: 255px;
    right: 130px;
    width: 130px;
    z-index: 1;
}
.about_botton {
    position: absolute;
    top: 540px;
    left: 550px;
}
#i_can {
    background-color: #fff6e5;
}
.about_back {
    background-size: cover;
}
.can_contents {
    display: flex;
    justify-content: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 77px;
}
.can_title {
    font-size: 32px;
    line-height: 1.75;
    letter-spacing: 0.12em;
    font-weight: lighter;
    padding-left: 79px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
.title_red2 {
    font-size: 65px;
    display: inline-block;
    transform: rotate(-30deg);
    color: #b20700;
    padding-bottom: 14px;
}
.nagi_jump {
    width: 136px;
    padding-left: 135px;
}
.can_omoi {
    font-size: 18px;
    letter-spacing: 0.12em;
    margin-top: -31px;
    text-align: center;
}
.can_omoi span {
    color: #fff;
}
.can_wrapper {
    display: flex;
    max-width: 1000px;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 120px;
}
.can_image1 {
    width: 299px;
    padding-bottom: 10px;
}
.can_image2 {
    width: 317px;
    padding-bottom: 10px;
    margin-top: -30px;
}
.can_image3 {
    width: 285px;
    padding-bottom: 10px;
}
.can_container {
    max-width: 1060px;
    display: flex;
    justify-content: space-around;
}
.can_item1 {
    border: 1px dashed #b20700;
    background-color: #fbfbfb;
    border-radius: 20px;
    width: 345px;
    height: 345px;
    text-align: center;
    margin-right: 12px;
}
.can_title1 {
    font-size: 19px;
    font-family: "Zen Maru Gothic", sans-serif;
    padding-top: 37px;
    font-weight: bold;
}
.can_title2_1 {
    font-size: 14px;
    font-family: "Montserrat Alternates", sans-serif;
    padding-top: 5px;
    position: relative;
    display: block;
    margin-bottom: 1em;
}
.can_title2_1::before {
    content: "";
    position: absolute;
    bottom: -17px;
    display: inline-block;
    width: 55px;
    height: 1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #b20700;
    border-radius: 2px;
}
.can_item2 {
    border: 1px dashed #c8a73d;
    background-color: #fbfbfb;
    border-radius: 20px;
    width: 345px;
    height: 345px;
    text-align: center;
    padding: 0px, 15px;
    margin-right: 12px;
}
.can_title2_2 {
    font-size: 14px;
    font-family: "Montserrat Alternates", sans-serif;
    padding-top: 5px;
    position: relative;
    display: block;
    margin-bottom: 1em;
}
.can_title2_2::before {
    content: "";
    position: absolute;
    bottom: -17px;
    display: inline-block;
    width: 55px;
    height: 1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #c8a73d;
    border-radius: 2px;
}
.can_item3 {
    border: 1px dashed #008473;
    background-color: #fbfbfb;
    border-radius: 20px;
    width: 345px;
    height: 345px;
    text-align: center;
}
.can_title2_3 {
    font-size: 14px;
    font-family: "Montserrat Alternates", sans-serif;
    padding-top: 5px;
    position: relative;
    display: block;
    margin-bottom: 1em;
}
.can_title2_3::before {
    content: "";
    position: absolute;
    bottom: -17px;
    display: inline-block;
    width: 55px;
    height: 1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #008473;
    border-radius: 2px;
}
.can_text {
    width: 280px;
    font-size: 14px;
    line-height: 2;
    padding-top: 21px;
    display: inline-block;
    text-align: left;
}
#works {
    background-color: #fbfbfb;
    position: relative;
    z-index: 0;
}
#works::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg_works_header.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: -1;
}
#works::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg_works_footer.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
}

.works_contents {
    display: flex;
    justify-content: flex-end;
    max-width: 1000px;
    margin: 0 auto;
}
.works_title {
    font-size: 32px;
    line-height: 1.75;
    letter-spacing: 0.12em;
    font-weight: lighter;
    padding-right: 79px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    padding-top: 270px;
}
.works_stand {
    width: 95px;
    padding-top: 171px;
}
.works_omoi {
    width: 662px;
    height: 158px;
    display: flex;
    border: 3px solid #b20700;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 230px;
    margin-right: 15px;
}
.works_message {
    width: 158px;
    padding-left: 3px;
}
.works_text {
    padding-left: 21px;
}
.works_text1 {
    font-size: 14px;
    letter-spacing: 0.06em;
    padding-top: 41px;
}
.works_text1 span {
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 26px;
    color: #b20700;
    font-weight: bold;
}
.works_text2 {
    font-size: 14px;
    padding-top: 27px;
    padding-bottom: 43px;
    letter-spacing: 0.06em;
}
.works_text2 span {
    font-size: 16px;
    color: #c8a73d;
}
.all_curtain {
    width: 346px;
    position: absolute;
    left: -15px;
    top: 0px;
}
.works_ashirai1 {
    position: absolute;
    top: 132px;
    right: 423px;
}
.works_ashirai2 {
    position: absolute;
    top: 458px;
    left: 277px;
}
.works_wrapper {
    max-width: 1160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 106px;
}

.works_box {
    text-align: center;
}
.works_image {
    width: 360px;
    padding-bottom: 11px;
    display: inline-block;
}
.works_setumei {
    width: 343px;
    font-size: 13px;
    line-height: 1.76;
    display: inline-block;
    text-align: left;
    padding-top: 24px;
    padding-bottom: 24px;
}

.works_title1_red {
    font-size: 25px;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: bold;
    color: #b20700;
    padding-bottom: 5px;
}
.works_title2_red {
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    color: #b20700;
}
.works_title1_yellow {
    font-size: 25px;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: bold;
    color: #c8a73d;
    padding-bottom: 5px;
}
.works_title2_yellow {
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    color: #c8a73d;
}
.works_title1_green {
    font-size: 25px;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: bold;
    color: #008473;
    padding-bottom: 5px;
}
.works_title2_green {
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    color: #008473;
}
.works_button {
    display: flex;
    justify-content: center;
    width: 160px;
    height: 40px;
    border: 1px solid #c8a73d;
    background-color: #c8a73d;
    border-radius: 100vh;
    text-align: end;
    margin-bottom: 45px;
}
.works_button p {
    display: inline-block;
    color: #fff;
    font-size: 12px;
}
.sakuhinsyu_button {
    display: flex;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 125px;
}
.sakuhinsyu_kainagi {
    width: 79px;
}
.sakuhinsyu_button_text {
    font-size: 14px;
    padding-top: 41px;
}
#contact {
    background-color: #fff6e5;
    position: relative;
    padding-top: 67px;
}
.contact_contents {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}
.contact_title {
    font-size: 32px;
    line-height: 1.75;
    letter-spacing: 0.12em;
    font-weight: lighter;
    padding-left: 79px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
.contact_box {
    width: 627px;
    background-color: #fff;
    border: 1px dashed #b20700;
    margin-top: 60px;
    margin-left: 49px;
    text-align: center;
    padding-top: 93px;
}
.contact_text {
    display: inline-block;
    text-align: left;
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.025em;
}
.contact_text1 {
    padding-bottom: 31px;
}
.contact_text2 {
    padding-bottom: 28px;
}
.sui_contact {
    width: 87px;
    display: inline-block;
    padding-bottom: 17px;
}
.contact_button p {
    font-size: 12px;
    padding-bottom: 71px;
}
.sui_haihai {
    width: 156px;
    position: absolute;
    top: 45px;
    left: 140px;
}
footer {
    background-image: url("../images/2x/footer_back1@2x-80.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    position: relative;
    overflow-y: hidden;
}
.footer_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 19px 29% 0 13%;
    box-sizing: border-box;
    padding-top: 356px;
}
.pc_nav_footer ul {
    display: flex;
    justify-content: flex-start;
}
.pc_nav_footer ul li {
    color: #550700;
    font-size: 13px;
    padding-right: 70px;
    text-align: center;
}
.footer_contact {
    color: #b20700;
}
.copyright p {
    margin: 0 auto;
    text-align: center;
    color: #550700;
    font-size: 12px;
    font-family: "Montserrat Alternates", sans-serif;
    padding-top: 87px;
    padding-bottom: 21px;
}
.sui_back {
    width: 102px;
    position: absolute;
    bottom: -60px;
    right: 150px;
}
